@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cursor-custom {
        cursor: url("../image/graphic-lines/cursor/default.png"), auto !important;
    }
    .cursor-custom-pointer {
        cursor: url("../image/graphic-lines/cursor/pointer.png"), auto !important;
    }
    .cursor-custom-grab {
        cursor: url("../image/graphic-lines/cursor/default-big.png"), auto !important;
    }
    .cursor-custom-grabbing {
        cursor: url("../image/graphic-lines/cursor/default.png"), auto !important;
    }
}

::selection {
    @apply text-black bg-white;
}

/* html {
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
} */

/* --------------------------- Carousel Pagination -------------------------- */
:root {
    /* Color */
    --vc-clr-primary: #00dcac00 !important;
    --vc-clr-secondary: #eee !important;
    --vc-clr-white: #ffffff !important;
    --vc-clr-hsecondary: #eee1010 !important;
    --vc-clr-pagprimary: #eee !important;

    /* Icon */
    --vc-icn-width: 1.2em;

    /* Navigation */
    --vc-nav-width: 100px;
    --vc-nav-color: #eee !important;
    --vc-nav-background-color: #00dcac00 !important;
    --vc-pgn-background-color: #eee !important;
    --vc-pgn-active-color: #eee !important;
}

.carousel__icon {
    z-index: 1000;
}

.carousel__pagination-button {
    background-color: #eeeeee50 !important;
}

.carousel__pagination-button--active {
    background-color: #eee !important;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.center-content {
    margin: 0 auto !important;
}

.draggable:hover {
    @apply cursor-custom-grab;
}

.draggable:active {
    @apply cursor-custom-grabbing;
}

.side-space {
    @apply md:max-w-[1650px] mx-auto h-full w-full px-4 sm:px-10;
}
/* ------------------------------- Scroll Bar ------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-black;
}

/* hides scrollbar */
.scroll-bar-hide::-webkit-scrollbar {
    display: none;
}

/* hides scrollbar */
.scroll-bar-hide::-webkit-scrollbar {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-white/50;
}

/* -------------------------------- Hero page ------------------------------- */

.hero:hover .cutout3 {
    transform: translateX(4rem) translateY(-4rem);
    opacity: 0.9;
}

.hero:hover .cutout2 {
    transform: translateX(2rem) translateY(-2rem);
    opacity: 1;
}

.hero:hover .cutout1 {
    opacity: 1;
}

/* ---------------------------- Common components --------------------------- */
.btn-small {
    @apply w-fit btn;
}

.btn {
    @apply flex items-center justify-center gap-x-4 bg-black border border-white rounded-md font-[300] px-20 py-3 text-white  tracking-widest cursor-custom-pointer hover:bg-white hover:text-black;
}

.title-small {
    @apply text-sm font-[200] whitespace-nowrap hidden md:inline;
}
.title-big {
    @apply uppercase font-[600] text-5xl md:text-8xl w-fit;
}
.title-box {
    @apply flex gap-x-6 items-end  mx-auto lg:mx-0 scale-90 sm:scale-100;
}
.title-underline {
    @apply w-[50%] md:w-fit;
}

.input {
    @apply font-[200] border-0 border-b border-white w-full py-4 bg-transparent focus:outline-none;
}

.para-text {
    @apply text-base font-[200] leading-8 tracking-wider;
}
